<section class="space-xs text-center bg-gradient text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <i class="mr-1 icon-cake"></i>
                <span class="mr-2">Use this handy announcmenet bar to talk about new features</span>
                <a href="#" class="text-white">View changelog &rsaquo;</a>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!--end of section-->
